<form (submit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input [(ngModel)]="title" name="title" type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input [(ngModel)]="description" name="description" type="text" class="form-control" id="description" />
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select [(ngModel)]="active" class="form-control" id="status" name="active">
        <option [ngValue]="false">Inactive</option>
        <option [ngValue]="true">Active</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success mt-2">Save</button>
  </form>